@font-face {
    font-family: pressStart2P;
    src: url(fonts/PressStart2P-Regular.ttf);
}
@font-face {
    font-family: AJsFont;
    src: url(fonts/AJsFont.ttf);
}

:root {
    --shadow-color: rgba(0, 0, 0, 0.3);
}

body {
    background-color: white;
    margin:0px;
    padding:0px;
}

#HR1 {
    box-shadow: 0px 1px 5px -0.5px var(--shadow-color);
    margin: 0rem;
    padding: 0.01rem;
    background-color: black;
}

#Logo1 {
    margin-top: 0px;
    margin-bottom: 0rem;
    margin-right: 10rem;
    border-right: solid 0.1rem black;
}
#Lightswitch {
    margin-bottom: 0px;
    opacity: 0.4;
    max-height: 85px;
    width: auto;
}

.header {
    display: inline-block;
    margin: 0rem;
    padding: 0rem;
    background-color: white;
    position: fixed;
    z-index: 20;
}

#Buttons {
    margin-left: 15rem;
}

#Example1 {
    display:inline-block;
    max-width: 25rem;
    height: auto;
    box-shadow: 5px 5px 10px var(--shadow-color);
    position: relative;
    left: 12rem;
    top: 10rem;
    z-index: -1;
}

#Example2 {
    display:inline-block;
    max-width: 25rem;
    height: auto;
    box-shadow: 5px 5px 10px var(--shadow-color);
    position: relative;
    left: 12rem;
    top: 13rem;
    z-index: -1;
}

#BackgroundDoodle {
    width: auto;
    max-height: 60rem;
    box-shadow: 5px 5px 10px var(--shadow-color);
    position: relative;
    right: 30rem;
    top: 12rem;
    float: right;
    z-index: -10;
}

#Disclaimer {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem 0rem 1rem 0rem;
    border: solid 1px black;
    border-radius: 1rem;
    max-width: 85rem;
    line-height: 1rem;
    font-family: pressStart2P;
    font-weight: normal;
    z-index: 10;
    font-size: 16px;
    background-color: white;
    position: relative;
    top: 15rem;
}

#CommissionsInfo1 {
    background-color: white;
    border-radius: 1rem;
    max-width: 24rem;
    height: auto;
    left: 34rem;
    bottom: 27rem;
    position: relative;
    line-height: 1rem;
}
#CommissionsHeader1 {
    background-color: #00ff56;
    border: solid 1px black;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 1rem;
    font-family: PressStart2P;
    font-size: 12px;
    color: white;
}
#CommissionsText1 {
    font-family: PressStart2P;
    font-size: 12px;
}

#CommissionsInfo2 {
    background-color: white;
    border-radius: 1rem;
    max-width: 24rem;
    height: auto;
    left: 34rem;
    bottom: 18.5rem;
    position: relative;
    line-height: 1rem;
}
#CommissionsHeader2 {
    background-color: #00ff56;
    border: solid 1px black;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 1rem;
    font-family: PressStart2P;
    font-size: 12px;
    color: white;
}
#CommissionsText2 {
    font-family: PressStart2P;
    font-size: 12px;
}

#CommissionsInfo3 {
    background-color: white;
    border-radius: 1rem;
    max-width: 11rem;
    height: 24rem;
    left: 84rem;
    bottom: 44.5rem;
    position: relative;
}
#CommissionsHeader3 {
    background-color: #ff0700;
    border: solid 1px black;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 1rem;
    font-family: AJsFont;
    font-size: 12px;
    color: white;
}

#CommissionSlot1 {
    color: white;
    background-color: #00ff56;
    border: solid 1px black;
    border-radius: 1rem;
    padding: 1rem;
    width: 100%;
    margin: auto;
    font-family: AJsFont;
    font-size: 64px;
    top: 3rem;
    position: relative;
}

#CommissionSlot2 {
    color: white;
    background-color: #00ff56;
    border: solid 1px black;
    border-radius: 1rem;
    padding: 1rem;
    width: 100%;
    margin: auto;
    font-family: AJsFont;
    font-size: 64px;
    top: 6rem;
    position: relative;
}